<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">Benim için Söylenenler</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    “Gökay, öğrenmeye açık, detaylara önem veren ve aldığı sorumlulukları titizlikle
                    yerine getiren bir öğrenciydi. Teknik konulardaki merakı ve projelere olan yaklaşımıyla
                    sınıf arkadaşlarına da ilham veren bir yapıya sahip. Kısa sürede kendini yazılım dünyasında çok daha ileri bir noktada göreceğimize eminim.”


                </p>
                <div class="testimonials__author h06">
                    Görkem Dönmez
                    <span>CEO, Dönmez Holding</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                <p>
                    “Staj süresince Gökay’ın problem çözme becerileri ve hızlı adaptasyon yeteneği bizi fazlasıyla 
                    etkiledi. Geliştirme süreçlerinde aktif rol aldı, yazdığı kodlar temiz ve sürdürülebilirdi.
                    Sadece teknik anlamda değil, iletişim yönüyle de takımın önemli bir parçası olmayı başardı.”


                </p>
                <div class="testimonials__author h06">
                    Kadir Oruç
                    <span>CEO, SeniorTech</span>
                </div>
            </div>

            <div class="testimonials__slide">
                <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                <p>

                    “Gökay, kısa süreli stajında bile sorumluluk alma konusundaki istekliliği ve çözüm odaklı yaklaşımıyla dikkat çekti. Yeni ortamlara hızla uyum sağlayabilmesi ve teknolojik konulara
                    olan ilgisi sayesinde kısa zamanda katkı sunmaya başladı. 
                    Disiplinli ve öğrenmeye hevesli yapısıyla örnek bir ekip arkadaşıydı.”
                </p>
                <div class="testimonials__author h06">
                    Emre Kalkan
                    <span>CEO, Kalkan Savunma Sanayi</span>
                </div>
            </div>

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>
