<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Projelerime Göz Atabilirsiniz</h1>
            <p class="lead">
                Gerçekleştirdiğim projelere ait ekran görüntülerini aşağıda bulabilirsiniz. Her biri, yazılım geliştirme sürecinde edindiğim bilgi ve becerileri yansıtan özgün çalışmalardır. Kod yapıları, kullanıcı arayüzleri ve proje detaylarıyla ilgileniyorsanız incelemeyi unutmayın!
            </p>
        </div>
    </div>

    <div class="row portfolio-grid">

        <!-- Restoranly -->
        <div class="portfolio-item">
            <div class="item-folio">
                <div class="item-folio__thumb">
                    <a href="~/media/resturantly.png" class="thumb-link" title="Restoranly" data-size="1300x1000">
                        <img src="~/media/resturantly.png" alt="Restoranly">
                        <span class="shadow-overlay"></span>
                    </a>
                </div>

                <div class="item-folio__text">
                    <h3 class="item-folio__title">Restoran Yönetim Sistemi (Restoranly)</h3>
                    <p class="item-folio__cat">Web Development</p>
                </div>

                <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                    <i class="im im-link"></i>
                </a>

                <div class="item-folio__caption">
                    <p>Restoran rezervasyon, masa takibi ve menü yönetimini kolaylaştıran özel web tabanlı sistem.</p>
                </div>
            </div>
        </div>

        <!-- Lighthouse -->
        <div class="portfolio-item">
            <div class="item-folio">
                <div class="item-folio__thumb">
                    <a href="~/media/cafe101.png" class="thumb-link" title="Lighthouse" data-size="1050x700">
                        <img src="~/media/cafe101.png" alt="Lighthouse">
                        <span class="shadow-overlay"></span>
                    </a>
                </div>

                <div class="item-folio__text">
                    <h3 class="item-folio__title">Lighthouse</h3>
                    <p class="item-folio__cat">Web Design</p>
                </div>

                <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                    <i class="im im-link"></i>
                </a>

                <div class="item-folio__caption">
                    <p>Modern kullanıcı arayüzüne sahip, mobil uyumlu ve performans odaklı bir web tasarımı projesi.</p>
                </div>
            </div>
        </div>

    </div>
</section>
